<% if user_signed_in? %>
  <div class="text-center" padding-top="20px">
    If this page does not automatically redirect, click
    <%= link_to "here", "/surveys" %>.
  </div>
<% else %>
  <div class="jumbotron">
        <div class="container">
          <h1 class="welcome">Welcome to SurveyChomp!</h1>
          <p>
            SurveyChomp is a survey creation, collection, and analysis application
            designed with the needs of students in mind. If you need to collect
            participant data for your next project, create an account today!
          </p>
          <p><a class="btn btn-primary btn-lg" href="users/sign_up" role="button">Get Started</a></p>
        </div>
  </div>
  <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>1. Create Surveys</h2>
            <p>
              Choose a name for your survey and add your questions.
              Select from question types like checkboxes, radio buttons,
              short answer, and more.
            </p>
          </div>
          <div class="col-md-4">
            <h2>2. Collect Responses</h2>
            <p>
              When you're ready, publish your survey and share
              it with others by sending an email or connecting to a social
              media account. Participants can then provide responses
              to your questions!
            </p>
         </div>
          <div class="col-md-4">
            <h2>3. Analyze Results</h2>
            <p>
              Once you've collected your results,
              use the built-in tool to create customizable
              charts or download the data as a
              spreadsheet to perform your own analysis.
            </p>
          </div>
        </div>
<% end %>
