#js-json-results

:javascript
  var colors = colors =
            ["#E6781E",
            "#1693A7",
            "#C8CF02",
            "#F8FCC1",
            "#CC0C39",
            "#FFFFFF",
            "#000000"]
  var charts = new ResultChart("#{question_group.id}", colors, "sans-serif", "#000000");
  charts.render();
