    <% if user_signed_in? %>

      <h2>My Surveys
        <%= link_to "New Survey", new_question_group_path, :class => "btn btn-primary pull-right" %>
      </h2>
      <% @color = true %>

    <% else %>
      <h2 class="col-sm-offset-1">All Surveys</h2>
      <p class="col-sm-offset-1">
        Welcome, Guest.
        You may answer any of the surveys below or
        <%= link_to "sign up", "/users/sign_up" %> to create your own.
      </p>
    <% end %>
<hr/>

<table class="survey-table">
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Survey</h4></th>
      <th><h4></h4></th>
      <th><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Options</h4></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question_group", collection: @question_groups %>
  </tbody>
</table>
<br /><br />
