    <% if user_signed_in? %>

      <h2 class="col-sm-offset-1">My Surveys</h2>
      <h4 class="col-sm-offset-1">
        <span class="glyphicon glyphicon-plus"></span>
      <%= link_to "New Survey", new_question_group_path %>
    </h4>
    <% else %>
      <h2 class="col-sm-offset-1">All Surveys</h2>
      <p class="col-sm-offset-1">
        Welcome, Guest.
        You may answer any of the surveys below or
        <%= link_to "sign up", "/users/sign_up" %> to create your own.
      </p>
    <% end %>
<hr/>
<div class="col-sm-offset-1">
<table>
  <colgroup>
    <col>
    <col width="250">
  </colgroup>
  <thead>
    <tr>
      <th><h4>Survey</h4></th>
      <th><h4></h4></th>
      <th><h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Options</h4></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: "question_group", collection: @question_groups %>
  </tbody>
</table>
  <br /><br />

</div>
